*
{
    padding: 0;
    margin: 0;
}

.navheader ul
{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between
}

.Logo
{
 margin-right: 350px;
 display: flex;
}

.Ouderavond
{
    text-align: center;
}

.Aanmelden
{
    margin-right: 60px;
}

.Inloggen
{
    margin-left: 60px;
}

.Zoeken
{
    margin-left: 400px;
    font-size: 13px;
}