*
{
    padding: 0;
    margin: 0;
}

body
{
    overflow-x: hidden;
}

.navheader ul
{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.navbar ul
{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    text-align: center;
    justify-content: space-evenly;
    background-color: #167600;
    padding: 15px;

}

.Logo
{
 margin-right: 350px;
 display: flex;
}

.title
{
    text-align: center;
}

.Aanmelden
{
    margin-right: 60px;
    font-size: 18px;
    background-color: #22B002;
    padding: 15px;
    border-radius: 10px;
}

.Inloggen
{
    margin-left: 60px;
    font-size: 18px;
    background-color: #167600;
    padding: 15px;
    border-radius: 10px;
}

.Zoeken
{
    margin-left: 400px;
    font-size: 13px;
}

a
{
    text-decoration: none;
    color: white;
}

.a1
{
    display: flex;
    background-color: #22B002;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

.Welcome
{
    width: 40vw;
    height: auto;
    margin-left: 450px;
    image-resolution: from-image;
}

section
{
    float: left;
    padding: 2rem;
    margin: 2rem;
    border-radius: 15px;
}

article
{
    float: right;
    background-color: #22b00233;
    padding: 1.5rem;
    margin: 1.5rem;
    border-radius: 15px;
}

.TCR
{
    margin: 5px;
}

.overmijfooter
{
    background-color: #167600;
    text-align: center;
    padding: 10px;
    margin-top: 485px;
}

.socials
{
    background-color: #167600;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}


.socials img
{
    width: 40px;
    height: 40px;
    margin: 10px;
    float: left;
}

.contact
{
    float: right;
    color: white;
}

.maincontent
{
    overflow-y: hidden;
}

.copyR
{
    color: white;
}

.overmijfooter img
{
    width: 40px;
    height: 40px;
    margin: 10px;
    float: left;
}

.overmijart
{
    margin-right: 300px;
    margin-top: 100px;
    font-size: 25px;
}

.examenart
{
    margin-left: 300px;
    margin-top: 100px;
    font-size: 30px;
    border: 1px solid black;
    padding: 50px;
    text-align: center;
}  

.eduart
{
    margin-left: 300px;
    margin-top: 100px;
    font-size: 30px;
}

.softart
{
    font-size: 30px;
}